body {
  user-select: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  font-family: "roboto", sans-serif;
  background-color: rgba(8, 8, 8, 0.89);
  min-width: 350px;
}




.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 85%;
  margin: auto;
  height: 45px;
  min-height: 100px;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
  min-width: 350px;
}

.navbar li {
  list-style: none;
  margin: 0 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar li:nth-child(2) {
  margin: 20px 50px;
  height: 25px;
  border-radius: 5px;
  background-color: #e50914;
  color: white;
  padding: 5px 15px;
  transition: 0.1s;
}

.navbar li:nth-child(2):hover {
  scale: 1.1;
  cursor: pointer;
}

.navbar li:nth-child(2):active {
  scale: 1.05;
  filter: brightness(0.8);
}

.logo img {
  margin-top: 35px;
  height: 100px;
  width: 130px;
  margin-left: 0;
  transition: 0.1s;
}

.logo img:hover {
  scale: 1.1;
  cursor: pointer;
}

.logo img:active {
  scale: 1.05;
  filter: brightness(0.8);
}

.main {
  margin-top: -100px;
  width: 100%;
  min-height: 700px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.707), rgba(0, 0, 0, 0.707)),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/b4c7f092-0488-48b7-854d-ca055a84fb4f/5b22968d-b94f-44ec-bea3-45dcf457f29e/IN-en-20231204-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.area {
  color: white;
  width: 50%;
  min-width: 350px;
}

.area h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  word-spacing: 10px;
  margin: 0;
  line-height: 70px;
}

.area h3 {
  text-align: center;
  font-size: 26px;
  margin: 20px 0 30px;
}

.search,
.search1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.search>input,
.box1 {
  width: 50%;
  border: none;
  padding: 0;
  border-radius: 10px 1px 1px 10px;
}

.search>input,
.box1::placeholder {
  padding-left: 10px;
  font-size: 14px;
}


.try,
.try1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #e50914;
  border-radius: 1px 10px 10px 1px;
  transition: 0.01s;
}

.try:hover,
.try1:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.try:active,
.try1:active {
  filter: brightness(0.65);
}

.area>h4 {
  text-align: center;
  font-weight: normal;
}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: min-content;
  margin-top: 10px;
  background-color: black;
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: -2;

}

.text {
  text-align: left;
  width: 35%;
  color: white;
  font-size: 1.4rem;
  margin: 10px;
}

.image {
  width: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.image>img {
  width: 100%;
  height: 100%;
}

.image>.video {
  z-index: -1;
  position: absolute;
  top: 20%;
  width: 75%;
}

.video.video-2 {
  top: 8%;
  width: 64%;
  filter: brightness(0.9) contrast(1.05);
}

.video>video {
  width: 100%;
}


h1 {
  font-weight: bolder !important;
}





.question {
  width: 100%;
  color: white;
  margin-top: 10px;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.question>h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 8px;
}

.quest {
  display: flex;
  width: 74%;
  align-items: center;
  height: 34px;
  background-color: rgb(46, 46, 46);
  margin-top: 9px;
  padding: 26px;
  justify-content: space-between;
}

.quest:hover {
  outline: 2px solid rgba(180, 180, 180, 0.599);
}

.textbox {
  font-size: 1.5rem;
  font-weight: 400;
}

i {
  cursor: pointer;
  transition: 0.05s;
}

i:active {
  rotate: -45deg;
}





.search1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: fit-content;
}

.search1-bar {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-bottom: 50px;
  justify-content: center;
}

.box1 {
  background-color: black;
  border: 2px solid grey;
  margin-right: 10px;
  border-radius: 5px;
  width: 60%;
}

.try1 {
  border-radius: 5px;
  width: 35%;
  font-weight: 500;
  font-size: 1.8rem;
}

.box1::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(165, 165, 165);
}


.search1 p {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 400;
}




@media (max-width: 1000px) {
  .text {
    font-size: 1.15rem;
  }

  .area h1 {
    font-size: 2.5rem;
    line-height: normal;
    word-spacing: normal;
  }
}






@media (max-width: 600px) {
  .navbar {
    width: 100%;
  }

  .navbar li {
    margin: 10px;
  }

  .navbar li:nth-child(2) {
    margin-right: 30px;
  }

  .navbar li:nth-child(2):hover {
    scale: 1;
    transition: 0;
  }

  .logo img {
    margin-top: 0px;
    scale: 0.6;
  }

  .logo img:hover {
    scale: 0.6;
    transition: 0;
  }

  .area>h1,
  h3 {
    font-size: 1.5rem;
    line-height: normal;
    word-spacing: normal;
  }

  .area {
    width: 90%;
    padding-top: 100px;
  }

  .search>input {
    width: 70%;
  }

  .search>.try {
    width: 30%;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
  }

  .container1 {
    flex-direction: column;
    /* height: 70vh; */
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    min-height: min-content;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .image {
    width: 90%;
  }

  .text {
    font-size: 1rem;
    width: 90%;
    text-align: center;
  }

  .question {
    margin-top: 7px;
  }

  .question h1 {
    font-size: 2rem;
  }

  .quest {
    padding: 16px;
    width: 80%;
  }

  .quest:hover {
    outline: none;
  }

  .textbox {
    font-size: 1rem;
  }

  .search1 {
    width: 85%;
  }

  .search1-bar {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .box1 {
    margin: 0;
    height: 45px;
    width: 90%;
  }

  .try1 {

    height: 45px;
    width: 40%;
    font-size: 1.1rem;
    font-weight: 900;
  }

  .search1 p {
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    line-height: 28px;
    margin-bottom: 15px;
  }

}